@import '../../variables.scss';

.srch-mkt-container {
    width: 100%;
    height: 100%;

    .mrkt-df {
        display: flex;
        height: 38px;
        width: 100%;

        &-market {
            cursor: pointer;
            width: 80px;
            text-align: center;
            padding-top: 11px;
            font-size: 12px;
            color: #ec643a;
            border-color: #D9552B;
        }

        &-defi {
            cursor: pointer;
            width: 80px;
            text-align: center;
            padding-top: 11px;
            font-size: 12px;
        }
    }

    .search-row {
        color: var(--c-grey,#91949f);
        height: 38px;
        display: flex;

        .srch-input {
            width: 200px;
            padding-top: 10px;
            font-size: 14px;
            margin-left: 11px;
        }

        .after-search {
            padding-top: 10px;
            font-size: 14px;
        }
    }

    .filter-row {
        color: white;
        height: 38px;
        display: flex;
        font-size: 12px;
        
        &-rows {
            padding-top: 10px;
            margin-left: 10px;
        }
    }

    .table-container {
        height: 320px;
        scroll-behavior: auto;
        overflow-y: scroll;

        .tbl-tbody {
            td {
                padding-left: 10px;
            }

            &-tr {
                height: 27px;
                font-size: 12px;
                // font-weight:500;
                cursor: pointer;
            }
        }

        .tbl-thead {
            height: 25px;
            
            .thead-tr {
                width: 100px;
                &-th {
                    font-size: 10px;
            
                    // .th-market {
                    //     width: 80px;
                    // }
                }
            }
        }
    }
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

th {
    text-align: left;
    padding-left: 10px;
    // width: 80px;
}

td {
    width: 37%;
}

table {
    // height: 100%;
    width: 100%;
    border-collapse: collapse;
    
}

thead th{
    color: var(--c-grey,#91949f);
}

thead {
    position: sticky;
    top: 0;
    background-color: $background-color;
    
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.grey-bckg {
    background-color: rgba(145, 148, 159, 0.07);
}
